.idea/
.buckd/
bin/
gen/
build/
target/
*.iml

gradle
gradlew
gradlew.bat
**/.DS_Store
local.properties
.gradle
.alipay
app/libs/armeabi/lib_portal_plugin_tmp_.so
app/src/main/jniLibs/armeabi/lib_portal_plugin_tmp_.so
/captures
.externalNativeBuild
local.properties