<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mpaas.demo">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- xiaomi -->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE"/>
    <!-- xiaomi -->
    <!-- oppo -->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE"/>
    <!-- oppo -->

    <application
        android:name="com.mpaas.demo.MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        tools:replace="android:allowBackup"
        android:theme="@style/AppThemeNew">

        <activity android:name=".push.LauncherActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mpaas" />
            </intent-filter>
        </activity>
        <activity android:name="com.mpaas.demo.push.MainActivity" />
        <activity android:name=".push.LandingTargetActivity" />

        <!--推送sdk start-->
        <service
            android:name="com.alipay.pushsdk.push.NotificationService"
            android:enabled="true"
            android:exported="false"
            android:label="NotificationService"
            android:process=":push">
            <intent-filter>
                <action android:name="${applicationId}.push.action.START_PUSHSERVICE" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.alipay.pushsdk.BroadcastActionReceiver"
            android:enabled="true"
            android:process=":push">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <!--推送sdk end-->

        <service
            android:name="com.mpaas.demo.push.MyPushMsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.push.action.MESSAGE_RECEIVED" />
                <action android:name="${applicationId}.push.action.REGISTRATION_ID" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </service>

        <!--自定义channel start-->
        <meta-data
            android:name="mpaas.notification.channel.default.name"
            android:value="默认" />
        <meta-data
            android:name="mpaas.notification.channel.default.description"
            android:value="默认消息通知" />
        <!--自定义channel end-->





        <!--接入小米推送 start-->
        <!-- value 斜杠空格要保留 -->
        <meta-data
            android:name="xiaomi_appid"
            android:value="\ 123" />
        <!-- value 斜杠空格要保留 -->
        <meta-data
            android:name="xiaomi_appkey"
            android:value="\ 123" />
        <!--接入小米推送 end-->

        <!-- oppo 2.0.2 -->
        <!--        <service-->
        <!--            android:name="com.heytap.mcssdk.PushService"-->
        <!--            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE"-->
        <!--            android:process=":push">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE"/>-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <!--        <service-->
        <!--            android:name="com.heytap.mcssdk.AppPushService"-->
        <!--            android:permission="com.heytap.mcs.permission.SEND_MCS_MESSAGE"-->
        <!--            android:process=":push">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE"/>-->
        <!--            </intent-filter>-->
        <!--        </service>-->
        <!-- oppo 2.0.2 -->
        <!-- oppo 2.1.0 -->
        <service
            android:name="com.heytap.msp.push.service.CompatibleDataMessageCallbackService"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE"
            android:process=":push">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE"/>
            </intent-filter>
        </service>
        <service
            android:name="com.heytap.msp.push.service.DataMessageCallbackService"
            android:permission="com.heytap.mcs.permission.SEND_PUSH_MESSAGE"
            android:process=":push">
            <intent-filter>
                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE"/>
                <action android:name="com.heytap.msp.push.RECEIVE_MCS_MESSAGE"/>
            </intent-filter>
        </service>
        <!-- oppo 2.1.0 -->

        <meta-data
            android:name="com.oppo.push.app_key"
            android:value="xxx"
            />
        <meta-data
            android:name="com.oppo.push.app_secret"
            android:value="xxx"
            />

        <!-- VIVO -->
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:process=":push"
            android:exported="true" />
        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:process=":push"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="xxx" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="0" />
        <!-- VIVO -->
    </application>
</manifest>

